html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: 
    url("https://www.transparenttextures.com/patterns/black-orchid.png") repeat,
    linear-gradient(135deg, #43a047, #66bb6a);
  background-size: auto;
  background-blend-mode: overlay;
  overflow-y: hidden;
  color: #e0f4c8;
}